In [9]:
# 대표값 card_category 활용 결측치 Unkown 대체


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'


data = pd.read_csv("./BankChurners_del.csv")

In [10]:

data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [11]:
# # 범주형 변수들  INT형태로 변환

# # 타겟 값을 Existing을 1로 Attributed를 0으로

# # 머신러닝 결과가 많이 좋아짐

# from sklearn import preprocessing

# def encode_features(dataDf):
#     data['Attrition_Flag'] = data['Attrition_Flag'].str[:1]
#     data['Gender'] = data['Gender'].str[:1]
# #     data['Education_Level'] = data['Education_Level'].str[:3]
# #     data['Marital_Status'] = data['Marital_Status'].str[:1]
#     data['Card_Category'] = data['Card_Category'].str[:1]
# #     data['Income_Category'] = data['Income_Category'].str[:2]
#     features = ['Attrition_Flag','Gender','Card_Category'] #,'Education_Level','Marital_Status','Card_Category','Income_Category']
#     for feature in features:
#         le = preprocessing.LabelEncoder()
#         le = le.fit(dataDf[feature])
#         dataDf[feature] = le.transform(dataDf[feature])
        
#     return dataDf


# data = encode_features(data)

In [12]:
data["Attrition_Flag"].replace({"Existing Customer":0,
                            "Attrited Customer":1,
                            },inplace=True)

In [13]:
data["Gender"].replace({"F":1, "M":0},inplace=True)

In [14]:
data["Card_Category"].replace({"Blue":0,
                                 "Silver":1,
                                 "Gold":2,
                                 "Platinum":3,
                                 },inplace=True)

In [15]:
# # X,y 분할

# X = df.drop(['CLIENTNUM','Attrition_Flag'], axis = 1)
# Y = df['Attrition_Flag']

In [16]:
data["Education_Level"].replace({"Unknown":np.nan,
                                "Graduate":0,
                                "Post-Graduate":1,
                                "Uneducated":2,
                                "College":3,
                                "Doctorate":4,
                                "High School":5,
                                 },inplace=True)

In [17]:
data["Income_Category"].replace({"Unknown":np.nan,
                                "Less than $40K":0,
                                "$40K - $60K":1,
                                "$60K - $80K":2,
                                "$80K - $120K":3,
                                "$120K +":4,
                                 },inplace=True)

In [18]:
data["Marital_Status"].replace({"Unknown":np.nan,
                                "Married":0,
                                "Single":1,
                                "Divorced":2,
                                 },inplace=True)

In [19]:
data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,0,45,0,3,5.0,0.0,2.0,0,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,0,49,1,5,0.0,1.0,0.0,0,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,0,51,0,3,0.0,0.0,3.0,0,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,0,40,1,4,5.0,NaN,0.0,0,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,0,40,0,3,2.0,0.0,2.0,0,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,0,50,0,2,0.0,1.0,1.0,0,40,...,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,710638233,1,41,0,2,NaN,2.0,1.0,0,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,716506083,1,44,1,1,5.0,0.0,0.0,0,36,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,717406983,1,30,0,2,0.0,NaN,1.0,0,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,714337233,1,43,1,2,0.0,0.0,0.0,1,25,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [20]:
# 범주형 데이터

data_cate = data[['CLIENTNUM','Attrition_Flag','Gender','Marital_Status','Education_Level','Income_Category','Card_Category']]
data_cate

,CLIENTNUM,Attrition_Flag,Gender,Marital_Status,Education_Level,Income_Category,Card_Category
0,768805383,0,0,0.0,5.0,2.0,0
1,818770008,0,1,1.0,0.0,0.0,0
2,713982108,0,0,0.0,0.0,3.0,0
3,769911858,0,1,NaN,5.0,0.0,0
4,709106358,0,0,0.0,2.0,2.0,0
...,...,...,...,...,...,...,...
10122,772366833,0,0,1.0,0.0,1.0,0
10123,710638233,1,0,2.0,NaN,1.0,0
10124,716506083,1,1,0.0,5.0,0.0,0
10125,717406983,1,0,NaN,0.0,1.0,0
10126,714337233,1,1,0.0,0.0,0.0,1

In [21]:
# 대표값 이용 결측치 대체

from sklearn.impute import SimpleImputer


# 각 데이터에 사용할 인스턴스 생성ㅠ

SI_mode =SimpleImputer(strategy = 'most_frequent') # 대표값 최빈값

SI_mean = SimpleImputer(strategy = 'mean') # 대표값 평균

In [22]:
# 학습

SI_mode.fit(data_cate)
data_finish_cate = pd.DataFrame(SI_mode.transform(data_cate),
                            columns = data_cate.columns)
data_finish_cate

SimpleImputer(strategy='most_frequent')

,CLIENTNUM,Attrition_Flag,Gender,Marital_Status,Education_Level,Income_Category,Card_Category
0,768805383.0,0.0,0.0,0.0,5.0,2.0,0.0
1,818770008.0,0.0,1.0,1.0,0.0,0.0,0.0
2,713982108.0,0.0,0.0,0.0,0.0,3.0,0.0
3,769911858.0,0.0,1.0,0.0,5.0,0.0,0.0
4,709106358.0,0.0,0.0,0.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...
10122,772366833.0,0.0,0.0,1.0,0.0,1.0,0.0
10123,710638233.0,1.0,0.0,2.0,0.0,1.0,0.0
10124,716506083.0,1.0,1.0,0.0,5.0,0.0,0.0
10125,717406983.0,1.0,0.0,0.0,0.0,1.0,0.0
10126,714337233.0,1.0,1.0,0.0,0.0,0.0,1.0

In [23]:
data_cont = data.drop(['CLIENTNUM','Attrition_Flag','Gender','Marital_Status','Education_Level','Income_Category','Card_Category'],axis=1)
data_cont.head()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,45,3,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,49,5,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,51,3,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,40,4,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,40,3,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [24]:
# 수치형 변수 중에 drop시킨 변수를 제외한 나머지 변수들을 모은 리스트를 만든다.
Numerics = ['Customer_Age','Dependent_count','Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
        'Total_Amt_Chng_Q4_Q1', 
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1']

In [25]:
data_cont[Numerics]

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1
0,45,3,39,5,1,3,12691.0,777,1.335,42,1.625
1,49,5,44,6,1,2,8256.0,864,1.541,33,3.714
2,51,3,36,4,1,0,3418.0,0,2.594,20,2.333
3,40,4,34,3,4,1,3313.0,2517,1.405,20,2.333
4,40,3,21,5,1,0,4716.0,0,2.175,28,2.500
...,...,...,...,...,...,...,...,...,...,...,...
10122,50,2,40,3,2,3,4003.0,1851,0.703,117,0.857
10123,41,2,25,4,2,3,4277.0,2186,0.804,69,0.683
10124,44,1,36,5,3,4,5409.0,0,0.819,60,0.818
10125,30,2,36,4,3,3,5281.0,0,0.535,62,0.722
10126,43,2,25,6,2,4,10388.0,1961,0.703,61,0.649

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

for numeric in Numerics:
    data_cont[numeric] = scaler.fit_transform(data_cont[numeric].values.reshape(-1,1))
    
data_cont

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,-0.165406,0.503368,0.384621,0.763943,-1.327136,0.492404,0.446622,-0.473422,11914.0,2.623494,1144,-0.973895,3.834003,0.061
1,0.333570,2.043199,1.010715,1.407306,-1.327136,-0.411616,-0.041367,-0.366667,7392.0,3.563293,1291,-1.357340,12.608573,0.105
2,0.583058,0.503368,0.008965,0.120579,-1.327136,-2.219655,-0.573698,-1.426858,3418.0,8.367214,1887,-1.911206,6.807864,0.000
3,-0.789126,1.273283,-0.241473,-0.522785,1.641478,-1.315636,-0.585251,1.661686,796.0,2.942843,1171,-1.911206,6.807864,0.760
4,-0.789126,0.503368,-1.869317,0.763943,-1.327136,-2.219655,-0.430877,-1.426858,4716.0,6.455682,816,-1.570365,7.509325,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.458314,-0.266547,0.509840,-0.522785,-0.337598,0.492404,-0.509330,0.844455,2152.0,-0.259771,15476,2.221481,0.608119,0.462
10123,-0.664382,-0.266547,-1.368442,0.120579,-0.337598,0.492404,-0.479181,1.255524,2091.0,0.201004,8764,0.176440,-0.122745,0.511
10124,-0.290150,-1.036462,0.008965,0.763943,0.651940,1.396424,-0.354626,-1.426858,5409.0,0.269436,10291,-0.207005,0.444305,0.000
10125,-2.036565,-0.266547,0.008965,0.120579,0.651940,0.492404,-0.368710,-1.426858,5281.0,-1.026208,8395,-0.121795,0.041070,0.000
10126,-0.414894,-0.266547,-1.368442,1.407306,-0.337598,1.396424,0.193220,0.979433,8427.0,-0.259771,10294,-0.164400,-0.265557,0.189

In [27]:
df = pd.concat([data_finish_cate,data_cont],axis=1)

In [28]:
df

,CLIENTNUM,Attrition_Flag,Gender,Marital_Status,Education_Level,Income_Category,Card_Category,Customer_Age,Dependent_count,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383.0,0.0,0.0,0.0,5.0,2.0,0.0,-0.165406,0.503368,0.384621,...,-1.327136,0.492404,0.446622,-0.473422,11914.0,2.623494,1144,-0.973895,3.834003,0.061
1,818770008.0,0.0,1.0,1.0,0.0,0.0,0.0,0.333570,2.043199,1.010715,...,-1.327136,-0.411616,-0.041367,-0.366667,7392.0,3.563293,1291,-1.357340,12.608573,0.105
2,713982108.0,0.0,0.0,0.0,0.0,3.0,0.0,0.583058,0.503368,0.008965,...,-1.327136,-2.219655,-0.573698,-1.426858,3418.0,8.367214,1887,-1.911206,6.807864,0.000
3,769911858.0,0.0,1.0,0.0,5.0,0.0,0.0,-0.789126,1.273283,-0.241473,...,1.641478,-1.315636,-0.585251,1.661686,796.0,2.942843,1171,-1.911206,6.807864,0.760
4,709106358.0,0.0,0.0,0.0,2.0,2.0,0.0,-0.789126,0.503368,-1.869317,...,-1.327136,-2.219655,-0.430877,-1.426858,4716.0,6.455682,816,-1.570365,7.509325,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833.0,0.0,0.0,1.0,0.0,1.0,0.0,0.458314,-0.266547,0.509840,...,-0.337598,0.492404,-0.509330,0.844455,2152.0,-0.259771,15476,2.221481,0.608119,0.462
10123,710638233.0,1.0,0.0,2.0,0.0,1.0,0.0,-0.664382,-0.266547,-1.368442,...,-0.337598,0.492404,-0.479181,1.255524,2091.0,0.201004,8764,0.176440,-0.122745,0.511
10124,716506083.0,1.0,1.0,0.0,5.0,0.0,0.0,-0.290150,-1.036462,0.008965,...,0.651940,1.396424,-0.354626,-1.426858,5409.0,0.269436,10291,-0.207005,0.444305,0.000
10125,717406983.0,1.0,0.0,0.0,0.0,1.0,0.0,-2.036565,-0.266547,0.008965,...,0.651940,0.492404,-0.368710,-1.426858,5281.0,-1.026208,8395,-0.121795,0.041070,0.000
10126,714337233.0,1.0,1.0,0.0,0.0,0.0,1.0,-0.414894,-0.266547,-1.368442,...,-0.337598,1.396424,0.193220,0.979433,8427.0,-0.259771,10294,-0.164400,-0.265557,0.189

In [29]:
# X,y 분할

X = df.drop(['CLIENTNUM','Attrition_Flag','Avg_Open_To_Buy','Total_Trans_Amt','Avg_Utilization_Ratio','Total_Amt_Chng_Q4_Q1'], axis = 1)
Y = df['Attrition_Flag']

In [30]:
# 학습 데이터와 평가 데이터로 분리
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y,random_state=4,stratify=Y)

In [31]:
# 결측치 확인

Train_X.isnull().sum()

Gender                      0
Marital_Status              0
Education_Level             0
Income_Category             0
Card_Category               0
Customer_Age                0
Dependent_count             0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
dtype: int64

In [32]:
## 학습데이터와 테스트 데이터 레이블 분포 확인
print('학습 데이터 레이블 값 비율')
print(Train_Y.value_counts()/Train_Y.shape[0] * 100)
print('테스트 데이터 레이블 값 비율')
print(Train_Y.value_counts()/Train_Y.shape[0] * 100)

학습 데이터 레이블 값 비율
0.0    83.936801
1.0    16.063199
Name: Attrition_Flag, dtype: float64
테스트 데이터 레이블 값 비율
0.0    83.936801
1.0    16.063199
Name: Attrition_Flag, dtype: float64

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score

# 수정된 get_clf_eval() 함수 
def get_clf_eval(Test_Y, pred=None, pred_proba=None):
    confusion = confusion_matrix(Test_Y, pred)
    accuracy = accuracy_score(Test_Y , pred)
    precision = precision_score(Test_Y, pred)
    recall = recall_score(Test_Y, pred)
    f1 = f1_score(Test_Y,pred)
    # ROC-AUC 추가 
    roc_auc = roc_auc_score(Test_Y, pred_proba)
    print('오차 행렬')
    print(confusion)
    # ROC-AUC print 추가
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
    F1: {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

In [34]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression()
lr_clf.fit(Train_X, Train_Y)

lr_pred = lr_clf.predict(Test_X)
lr_pred_proba  = lr_clf.predict_proba(Test_X)[:,1]

get_clf_eval(Test_Y,lr_pred,lr_pred_proba)

LogisticRegression()

오차 행렬
[[2054   71]
 [ 189  218]]
정확도: 0.8973, 정밀도: 0.7543, 재현율: 0.5356,    F1: 0.6264, AUC:0.8970

In [35]:
def get_model_train_eval(model, ftr_train=None, ftr_test=None, tgt_train=None, tgt_test=None) :
    model.fit(ftr_train, tgt_train)
    pred = model.predict(ftr_test)
    pred_proba = model.predict_proba(ftr_test)[:,1]
    get_clf_eval(tgt_test,pred,pred_proba) ## 평가진행 함수 호출

In [36]:
from lightgbm import LGBMClassifier

lgbm_clf = LGBMClassifier(n_estimators=1000, num_leaves=64, n_jobs=-1,boost_from_average=False)
get_model_train_eval(lgbm_clf, ftr_train=Train_X, ftr_test=Test_X, tgt_train=Train_Y, tgt_test=Test_Y)

오차 행렬
[[2063   62]
 [  98  309]]
정확도: 0.9368, 정밀도: 0.8329, 재현율: 0.7592,    F1: 0.7943, AUC:0.9670

In [37]:
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings('ignore')
dt_clf = DecisionTreeClassifier(max_depth = 3, random_state=156)
dt_clf.fit(Train_X,Train_Y)

DecisionTreeClassifier(max_depth=3, random_state=156)

In [38]:
from sklearn.tree import export_graphviz

# export_graphviz()의 호출 결과로 out_file로 지정된 tree.dot 파일을 생성함. 
export_graphviz(dt_clf, out_file="tree.dot", impurity=True, filled=True)

In [ ]:
import graphviz

with open("tree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)